/* 
MAIN STYLESHEET
Author: Zimit Media
*/


/* ========================================= */
/* HERO                                      */
/* ========================================= */

.hero-section {
	/*background-image: url('../assets/images/amzbg_b.jpg');*/
	background-size: cover;
	background-position: center center;
	min-height: 520px;
	max-height: 890px;
	height: 100vh;
	width: 100%;
	color: #FFFFFF;
	position: relative;
}
.hero-section .hero-content {
	text-align: center;
	padding: 170px 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hero-section .hero-content .headline {
	font-size: 4em;
	margin: 0;
	line-height: 1em;
	font-weight: 100;
}
.hero-section .hero-content .subline {
	font-size: 1.5em;
	margin: 10px 0 40px;
	font-weight: 100;
}


/* ========================================= */
/* ICONS                                     */
/* ========================================= */

.icons {
	padding: 60px;
}
.icons .content {
	text-align: center;
}
.icons .content .fa {
	font-size: 6.2em;
	color: #E80027;
}
.icons .content img.icon {
	max-width: 128px;
	max-height: 128px;
	width: 100%;
	height: auto;
	display: inline-block;
}
.icons .content h2 {
	font-weight: 100;
	font-size: 3.5em;
	margin: 0;
}
.icons .content h3 {
	margin: 1.75em 0 1em;
	font-size: 1.4em;
}
.icons .content .subline {
	font-size: 1.4em;
	margin: 0 0 50px;
	font-weight: 100;
}
.icons .content .column p {
	font-size: 1.2em;
	font-weight: 100;
}


/* ========================================= */
/* HALF COLUMNS                              */
/* ========================================= */

.half-columns {
	display: table;
	width: 100%;
	overflow: hidden;
}
.half-columns-table {
	margin: 0;
}
.half-columns .half-column-row {
	/*background: #F0F0F0;*/
	display: table-row;
}
.half-columns .half-column-row .column {
	display: table-cell;
	min-height: 500px;
	width: 50%;
}
.half-columns .half-column-row .text {
	/*text-align: center;*/
	height: 100%;
	position: relative;
}
.half-columns .half-column-row .text .content {
	max-width: 650px;
	width: 100%;
	padding: 20px 40px 0;
	font-weight: 100;
	/*position: absolute;*/
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
}
.half-columns .half-column-row .text .content h2 {
	color: #E80027;
	font-size: 2.8em;
	font-weight: 100;
	margin-bottom: 20px;
}
.half-columns .half-column-row .text .content p {
	font-size: 1.3em;
}
.half-columns .half-column-row:nth-of-type(even) .text .content {
	margin: 0 0 0 auto;
	text-align: right;
}
.half-columns .half-column-row:nth-of-type(odd) .text .content {
	margin: 0 auto 0 0;
}
.half-columns .half-column-row .image {
	background-size: cover !important;
	background-position: center center !important
}


/* ========================================= */
/* TESTIMONIALS                              */
/* ========================================= */

.testimonials-section {
	padding: 50px 10px;
	background: #870017;
	color: #FFFFFF
}
.testimonials-section > h2 {
	font-weight: 100;
	font-size: 2.7em;
	text-align: center;
	margin: 0 0 0.5em;
}

/*Slider*/
.testimonials {
	overflow: hidden;
	max-width: 900px;
	margin: 0 auto;
}
.testimonials .testimonial-container {
	text-align: center;
	padding: 0 30px;
	outline: none;
}
.testimonials .testimonial-container .testimonial-photo {
	height: 100px;
	width: 100px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	background-size: cover !important;
	border: 2px solid #FFFFFF;
}
.testimonials .testimonial-container .testimonial-message {
	font-style: italic;
	font-size: 1.5em;
	font-weight: 100;
}
.testimonials .testimonial-container cite {
	font-style: normal;
	font-weight: 100;
}
.testimonials .testimonial-container cite .name {
	font-size: 1.2em;
	line-height: 1em;
	text-transform: uppercase;
}
.testimonials .testimonial-container cite .job-title {
	font-size: 0.9em;
}


/* ========================================= */
/* SHOWCASES and PRODUCTS                    */
/* ========================================= */

.showcases {
	padding: 50px 0;
	overflow: hidden;
}
.showcase {
	text-align: center;
	font-weight: 100;
	margin-bottom: 70px;
}
.showcase:last-of-type {
	margin-bottom: 0;
}
.showcase .showcase-title {
	font-size: 2.5em;
	font-weight: 100;
	color: #E80027;
	margin: 0;
	line-height: 1em;
}
.showcase .showcase-description p {
	font-size: 1.3em;
}
.showcase .showcase-description p:first-of-type {
	margin-top: 10px;
}
.showcase .showcase-note p {
	font-style: italic;
}

/*Products*/
.showcase .products {
	display: flex;
	align-content: stretch;
	padding: 10px 0;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}
.showcase .products .product {
	/*border: 3px solid;*/
	border-color: #515151;
	background-color: #FFFFFF;
	margin: 0 10px;
	padding: 0 0 61px;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.showcase .products .product.highlighted-product {
	border-color: #E80027;
	margin: -10px 5px;
}
.showcase .products .product .product-title {
	background: #515151;
	color: #FFFFFF;
	font-size: 1.5em;
	margin: 0;
	padding: 20px 0 0;
	font-weight: 100;
}
.showcase .products .product .product-price {
	background: #515151;
	color: #FFFFFF;
	font-size: 2.9em;
	margin: 0;
	padding: 5px 0 10px;
	font-weight: 400;
}
.showcase .products .product.highlighted-product .product-title,
.showcase .products .product.highlighted-product .product-price {
	background: #E80027;
}
.showcase .products .product .product-description {
	font-size: 1.1em;
	padding: 20px 15px;
}
.showcase .products .product .product-link {
	position: absolute;
	bottom: 20px;
	height: 41px;
	width: 100%;
	left: 0;
}


/*==============================*/
/* NEWSLETTER                   */
/*==============================*/

.newsletter {
	text-align: center;
	padding: 85px 0;
	background: #F9F9F9;
	overflow: hidden;
	position: relative;
}
.newsletter .content {
	position: relative;
	z-index: 2;
}
.newsletter .section-title {
	font-size: 2.7em;
	line-height: 1em;
	font-weight: 100;
	margin: 0;
	color: #E80027;
}
.newsletter .subtext {
	margin: 0 0 1em;
	font-size: 1.5em;
	font-weight: 100;
}
.newsletter img.background-rocket {
	position: absolute;
	bottom: -75px;
	right: 50%;
	opacity: 0.1;
	z-index: 1;
	height: 500px;
}

/*Form*/
.newsletter .newsletter-form {
	margin-top: 1em;
	padding: 0 10px;
}
.newsletter .newsletter-form p {
	margin: 0 !important;
}
.newsletter .newsletter-form input[type="text"],
.newsletter .newsletter-form input[type="email"],
.newsletter .newsletter-form input[type="url"] {
	width: 100%;
	max-width: 400px;
	padding: 15px;
	margin: 10px 0;
	border: 1px solid#E6E6E6;
	border-radius: 0;
	font-family: 'Overpass', sans-serif;
}
.newsletter .newsletter-form input[type="text"]:focus,
.newsletter .newsletter-form input[type="email"]:focus,
.newsletter .newsletter-form input[type="url"]:focus {
	outline: #E80027;
}
.newsletter .newsletter-form input[type="submit"],
.newsletter .newsletter-form button {
	display: inline-block;
	background: #E80027;
	color: #FFFFFF;
	padding: 17.5px 40px;
	border-radius: 4px;
	border: none;
	font-family: 'Overpass', sans-serif;
	font-size: 1em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	line-height: 1em;
	font-weight: 100;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.newsletter .newsletter-form input[type="submit"]:hover,
.newsletter .newsletter-form button:hover {
	background: #FB3D5D;
}


/*==============================*/
/* MEDIA QUERIES                */
/*==============================*/

/*IPhone 4/4s/5*/
@media screen and (max-width: 320px) {
	/*Hero Banner*/
	.hero-section .hero-content .headline {
		font-size: 3em !important;
		line-height: 1.1em !important;
	}	
}

/*
SMALL ONLY <640px
*/
@media screen and (max-width: 39.9375em) {
	/*Hero Banner*/
	.hero-section .hero-content .headline {
		font-size: 3.5em;
		line-height: 1.3em;
	}

	/*Icons*/
	.icons {
		padding: 60px 30px;
	}
	.icons .content h2 {
		font-size: 3.2em;
		line-height: 1.3em;
	}

	/*Half Columns*/
	.half-columns .half-column-row .text .content {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 15px ;
	}
	
	/*Testimonials Section*/
	.testimonials-section > h2 {
		font-size: 2.4em;
		line-height: 1.3em;
	}
	.testimonials .testimonial-container .testimonial-message {
		font-size: 1.3em;
	}

	/*Showcase*/
	.showcase .products {
		display: block;
		padding: 20px;
	}
	.showcase .products .product,
	.showcase .products .product.highlighted-product {
		margin: 10px 0;
	}
	.showcase .showcase-note p {
		margin: 0 0 1.5em;
		padding: 0 10px;
	}
}

/*
MEDIUM ONLY <1024px and >=640px
*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/*
MEDIUM BELOW <1024px
*/

@media screen and (max-width: 63.9375em) {

}

/*
LARGE AND UP >=1024px
*/
@media screen and (min-width: 64em) {

}

/*
LARGE ONLY
*/
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}